# Node
node_modules/
backend/node_modules/

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart

# Environment
.env
backend/.env

# OS
.DS_Store

# IDE
.idea/
.vscode/
